h1{
    font-family: Arial;
    color: brown;
    text-align: center;
}
p{
    text-align: center;
    color: #502507;
}
.returnNote{
    background-color: #bebdab;
    width: 50%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.passValue{
    background-color: #bebdab;
    width: 50%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}